In [1]:
from openbb_terminal.sdk import openbb
import pandas as pd
import numpy as np

%matplotlib inline

2023-05-30 20:29:05.740515: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

# Indicies df

In [17]:
data_indicies = openbb.economy.indices()
data_indicies[["Chg", "%Chg"]] = data_indicies[["Chg", "%Chg"]].apply(pd.to_numeric)
data_indicies = data_indicies.set_index(data_indicies.columns[0])
data_indicies

                          Price    Chg  %Chg

DJIA                   33042.78 -50.56 -0.15
Nasdaq Composite       13017.43  41.74  0.32
S&P 500                 4205.52   0.07  0.00
DJ Total Stock Market  41879.22   2.63  0.01
Russell 2000            1767.29  -5.73 -0.32
NYSE Composite         14994.64 -84.05 -0.56
Barron's 400             910.21  -4.32 -0.47
CBOE Volatility           17.46  -0.49 -2.73
DJIA Futures              33061 -28.00 -0.08
S&P 500 Futures         4215.25   0.25  0.01

In [18]:
def highlight_max(cell):
    if type(cell) != str and cell < 0 :
        return 'background: red; color:black'
    else:
        return 'background: green; color: white'
  
data_indicies.style.applymap(highlight_max)

In [ ]:
# Dropdown to select chart for each index, would like this to the right of the heatmap in app

In [37]:
plot_onedf = openbb.economy.index(indices= ["dow_dji", "nasdaq", "sp500", "dow_djus", "russell2000", "nyse", "sp400", "cboe_vix"],
    interval = "1d",
    start_date = "2022-05-30",
    end_date = "2023-05-30",
    column = "Close",
    #returns: bool = False,
                    
)

plot_onedf

,dow_dji,nasdaq,sp500,dow_djus,russell2000,nyse,sp400,cboe_vix
Date,,,,,,,,
2022-05-31,32990.121094,12081.389648,4132.149902,1011.020020,1864.040039,15827.049805,2514.800049,26.190001
2022-06-01,32813.230469,11994.459961,4101.229980,1003.179993,1854.819946,15709.610352,2494.669922,25.690001
2022-06-02,33248.281250,12316.900391,4176.819824,1023.299988,1897.670044,15960.530273,2549.840088,24.719999
2022-06-03,32899.699219,12012.730469,4108.540039,1006.570007,1883.050049,15797.169922,2521.129883,24.790001
2022-06-06,32915.781250,12061.370117,4121.430176,1009.809998,1889.890015,15848.450195,2535.770020,25.070000
...,...,...,...,...,...,...,...,...
2023-05-22,33286.578125,12720.780273,4192.629883,1021.599976,1795.380005,15318.849609,2468.679932,17.209999
2023-05-23,33055.511719,12560.250000,4145.580078,1010.169983,1787.709961,15172.269531,2444.290039,18.530001
2023-05-24,32799.921875,12484.160156,4115.240234,1002.739990,1767.000000,15022.889648,2419.830078,20.030001
2023-05-25,32764.650391,12698.089844,4151.279785,1010.270020,1754.599976,14975.969727,2419.800049,19.139999
2023-05-26,33093.339844,12975.690430,4205.450195,1023.830017,1773.020020,15078.690430,2442.850098,17.950001

In [51]:
sp_futs = openbb.futures.historical(symbols = "ES", start_date = "2022-05-30", end_date = "2023-05-30")
sp_futs = sp_futs.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"])
dow_futs = openbb.futures.historical(symbols = "YM", start_date = "2022-05-30", end_date = "2023-05-30")
dow_futs = dow_futs.drop(columns=["Open", "High", "Low", "Adj Close", "Volume"])

In [61]:
indicies_plot_df = pd.concat([plot_onedf, dow_futs, sp_futs], axis=1)
indicies_plot_df.columns = ["DJIA", "Nasdaq Composite", "S&P 500", "DJ Total Stock Market", "Russell 2000",
                            "NYSE Composite", "Barron's 400", "CBOE Volatility", "DJIA Futures", "S&P 500 Futures"
                           
]
indicies_plot_df

,DJIA,Nasdaq Composite,S&P 500,DJ Total Stock Market,Russell 2000,NYSE Composite,Barron's 400,CBOE Volatility,DJIA Futures,S&P 500 Futures
Date,,,,,,,,,,
2022-05-31,32990.121094,12081.389648,4132.149902,1011.020020,1864.040039,15827.049805,2514.800049,26.190001,32971.0,4131.25
2022-06-01,32813.230469,11994.459961,4101.229980,1003.179993,1854.819946,15709.610352,2494.669922,25.690001,32798.0,4099.00
2022-06-02,33248.281250,12316.900391,4176.819824,1023.299988,1897.670044,15960.530273,2549.840088,24.719999,33223.0,4175.25
2022-06-03,32899.699219,12012.730469,4108.540039,1006.570007,1883.050049,15797.169922,2521.129883,24.790001,32888.0,4107.00
2022-06-06,32915.781250,12061.370117,4121.430176,1009.809998,1889.890015,15848.450195,2535.770020,25.070000,32912.0,4120.50
...,...,...,...,...,...,...,...,...,...,...
2023-05-23,33055.511719,12560.250000,4145.580078,1010.169983,1787.709961,15172.269531,2444.290039,18.530001,33132.0,4158.75
2023-05-24,32799.921875,12484.160156,4115.240234,1002.739990,1767.000000,15022.889648,2419.830078,20.030001,32854.0,4126.00
2023-05-25,32764.650391,12698.089844,4151.279785,1010.270020,1754.599976,14975.969727,2419.800049,19.139999,32806.0,4159.75
2023-05-26,33093.339844,12975.690430,4205.450195,1023.830017,1773.020020,15078.690430,2442.850098,17.950001,33125.0,4213.25
2023-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33089.0,4215.00

In [55]:
#openbb.economy.available_indices()

# Commodities

In [19]:
data_commodities = openbb.economy.futures()
data_commodities[["Chg", "%Chg"]] = data_commodities[["Chg", "%Chg"]].apply(pd.to_numeric)
data_commodities = data_commodities.set_index(data_commodities.columns[0])
data_commodities

                             Price     Chg  %Chg

Crude Oil                    69.47  0.0100  0.01
Brent Crude                  73.75  0.0400  0.05
Gold                       1978.00  0.9000  0.05
Silver                      23.290  0.0510  0.22
Natural Gas                  2.310 -0.0170 -0.73
Unleaded Gasoline           2.4835  0.0043  0.17
Copper                      3.6590 -0.0040 -0.11
Corn                        592.00 -2.0000 -0.34
Wheat                       585.75 -5.2500 -0.89
Bloomberg Commodity Index    98.33 -1.7500 -1.75

In [20]:
data_commodities.style.applymap(highlight_max)